<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true"/>
</head>
<style>
    .specfooter{
        background-color: #303030;
        color: #d7d7d7;
   }
</style>
<body>
<div class="container-lg bg-light">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 mt-3 gx-5">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="img/logo.svg" alt="" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">AVALEHT</a>
                        <a class="nav-link" href="#">ÜRITUSE LISAMINE</a>
                    </div>
                </div>
                <img class="d-none d-lg-block img-fluid" alt="symbol" src="img/symbol.svg"/>
            </div>
        </nav>
    </header>
</div>


<div class="container-lg">
    
    <main role="main">
        @RenderBody()
    </main>
    
    <footer>
    <div class="row mt-3 mb-3">
        <div class="specfooter d-none d-md-block p-4 text-start col">
            <h3>Curabitur</h3>
            <ul class="list-unstyled">
              <li>Emauris</li>
              <li>Kfringilla</li>
              <li>Oin magna sem</li>
              <li>Kelementum</li>
            </ul>
        </div>
        <div class="specfooter text-start d-none d-md-block p-4 col">
            <h3>Fusce</h3>
            <ul class="list-unstyled">
                <li>Econsectetur</li>
                <li>Ksollicitudin</li>
                <li>Omvulputate</li>
                <li>Nunc fringilla tellu</li>
            </ul>
        </div>
        <div class="specfooter p-4 col">
            <h3>Kontakt</h3>
            <ul class="list-unstyled">
                <li>Peakontor: Tallinnas</li>
                <li>Väike-Ameerika 1, 11415 Tallinn</li>
                <li>Telefon: 605 4450</li>
                <li>Faks: 605 3186</li>
            </ul>
        </div>
        <div class="specfooter p-4 col">
            <h3 style="color: #303030;">Kontakt</h3>
            <ul class="list-unstyled">
                <li>Harukontor: Võrus</li>
                <li>Oja tn 7 (külastusaadress)</li>
                <li>Telefon: 605 3330</li>
                <li>Faks: 605 3155</li>
            </ul>
        </div>
            </div>
    </footer>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>