@page
@model WebApp.Pages.Osalemised.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Osalemine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Osalemine.IsikId" class="control-label"></label>
                <select asp-for="Osalemine.IsikId" class="form-control" asp-items="ViewBag.IsikId"></select>
                <span asp-validation-for="Osalemine.IsikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Osalemine.YritusId" class="control-label"></label>
                <select asp-for="Osalemine.YritusId" class="form-control" asp-items="ViewBag.YritusId"></select>
                <span asp-validation-for="Osalemine.YritusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Osalemine.Makseviis" class="control-label"></label>
                <select asp-for="Osalemine.Makseviis" class="form-control"></select>
                <span asp-validation-for="Osalemine.Makseviis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Osalemine.Lisainfo" class="control-label"></label>
                <input asp-for="Osalemine.Lisainfo" class="form-control" />
                <span asp-validation-for="Osalemine.Lisainfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Osalemine.OsalejateArv" class="control-label"></label>
                <input asp-for="Osalemine.OsalejateArv" class="form-control" />
                <span asp-validation-for="Osalemine.OsalejateArv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Osalemine.KustutamiseKP" class="control-label"></label>
                <input asp-for="Osalemine.KustutamiseKP" class="form-control" />
                <span asp-validation-for="Osalemine.KustutamiseKP" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Osalemine.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
