html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #edf0f2;
}

.removeimage {
    max-height: 16px;
    max-width: 16px;
}

.customblue {
    background-color: #174d94;
    color: #d7d7d7;
}

.customimage {
    background: url("img/meeleolu.jpg") no-repeat;
    background-size: 100%;
}

td {
    word-wrap: break-word;
    max-width: fit-content;
}

table {
    table-layout: fixed;
    width: 100%;
}

.menutablesize {
    max-height: 300px;
    overflow: scroll;
}